/* CSS boilerpalte code */
* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
}

div#main {
    width: 100%;
    height: 100%;
    background-image: url(assets/sea-8198149.jpg);
    background-size: cover;
}

div.navBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 35px;
}

div.navBar:hover {
    color: red;
    background-color: rgba(35, 29, 149, 0.476);
}

.Menu{
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    margin-right: 10px;
}

div.overlay h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    word-spacing: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div.overlay h1:hover {
    color: chocolate;
}

div.overlay p {
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
}

div.overlay p:hover {
    color: blueviolet;
}

div.overlay button {
    width: 10%;
    height: 5%;
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.overlay button:hover {
    background-color: black;
    color: yellow;
}

/* DAY 7 */
/* Sheriyan's Coding School */